version: '3.8'

services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    ports: 
      - '443:443'       # Expose HTTPS on host
    depends_on:
      - wordpress       # Depends on WordPress, not MariaDB directly
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html
    restart: always

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    ports:
      - '9000:9000'     # PHP-FPM exposed for NGINX
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      - mariadb
    tty: true
    stdin_open: true
    env_file:
      - .env
    restart: always

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    # ports:
    #   - '3306:3306'
    networks:
      - inception
    volumes:
      - mariadb_data:/var/lib/mysql
    env_file:
      - .env
    restart: always

volumes:
  mariadb_data:
  wordpress_data:

networks:
  inception:
    driver: bridge
